<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Title</title>

    <script type="module" src="" defer></script>
    <script src="https://kit.fontawesome.com/e2a5b405b2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/final032/css/style.css">

<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <header class="menu">
        <menu class="menu__left">
            <img src="../static/final032/icon/Logo.png" height="34">
            <div class="menu__title">Interno</div>
        </menu>
        <menu class="menu__right">
            <div class="menu__item">Home</div>
            <div class="menu__item">Project</div>
            <div class="menu__item">Blog</div>
        </menu>
    </header>
    <section class="banner">
        <img src="../static/final032/image/livingRoom.jpg" class="banner-image" alt="living room">
        <div class="banner__subcontent">
            <div class="banner__subcontent_title">Let Your Home
                Be Unique</div>
            <div class="banner__subcontent_title_text">There are many variations of the passages of
                lorem Ipsum from available, majority.</div>
            <button type="button" class="btn">Get Started</button>
        </div>
    </section>
    <section class="projects"></section>
    <section class="counter"></section>
    <section class="news"></section>
    <footer class="footer"></footer>

    <button class="btn" type="button">default</button>
    <br>
    <br>
    <button class="btn btn__color" type="button">Color</button>


</div>







</body>
</html>