<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Title</title>

    <script type="module" src="" defer></script>
    <script src="https://kit.fontawesome.com/e2a5b405b2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/final032/css/style.css">

    <!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
    <!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <!--    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

</head>
<body>
<div class="container">
    <header class="menu">
        <menu class="menu__left">
            <img src="../static/final032/icon/Logo.png" height="34">
            <div class="menu__title">Interno</div>
        </menu>
        <menu class="menu__right">
            <div class="menu__item">Home</div>
            <div class="menu__item">Project</div>
            <div class="menu__item">Blog</div>
        </menu>
    </header>
    <section class="banner">
        <img src="../static/final032/image/livingRoom.jpg" class="banner-image" alt="living room">
        <div class="banner__subcontent">
            <div class="banner__subcontent_title">Let Your Home
                Be Unique
            </div>
            <div class="banner__subcontent_title_text">There are many variations of the passages of
                lorem Ipsum from available, majority.
            </div>
            <button type="button" class="btn">Get Started</button>
        </div>
    </section>
    <section class="projects">
        <div class="projects__top">
            <div class="projects__top_title">Follow Our Projects</div>
            <div class="projects__top_text">It is a long established fact that a reader will be distracted by
                the of readable content of page lookings at its layouts points.
            </div>
        </div>
        <div class="projects__projects">
            <div class="projects__projects_item">
                <img src="../static/final032/image/Ktch1.jpg" class="projects__projects_lt" alt="ktch1">
                <div class="projects__projects_item-footer">
                    <div class="projects__projects_item-info">
                        <div class="projects__projects_item-title">Modern Kitchen</div>
                        <div class="projects__projects_item-text">Decor / Architecture</div>
                    </div>
                    <img src="../static/final032/icon/next.svg">
                </div>
            </div>
            <div class="projects__projects_item">
                <img src="../static/final032/image/Ktch2.jpg" class="projects__projects_rt" alt="ktch2">
                <div class="projects__projects_item-footer">
                    <div class="projects__projects_item-info">
                        <div class="projects__projects_item-title">Modern Kitchen</div>
                        <div class="projects__projects_item-text">Decor / Architecture</div>
                    </div>
                    <img src="../static/final032/icon/next.svg">
                </div>
            </div>
            <div class="projects__projects_item">
                <img src="../static/final032/image/Ktch3.jpg" class="projects__projects_lb" alt="ktch3">
                <div class="projects__projects_item-footer">
                    <div class="projects__projects_item-info">
                        <div class="projects__projects_item-title">Modern Kitchen</div>
                        <div class="projects__projects_item-text">Decor / Architecture</div>
                    </div>
                    <img src="../static/final032/icon/next.svg">
                </div>
            </div>
            <div class="projects__projects_item">
                <img src="../static/final032/image/Ktch4.jpg" class="projects__projects_rb" alt="ktch4">
                <div class="projects__projects_item-footer">
                    <div class="projects__projects_item-info">
                        <div class="projects__projects_item-title">Modern Kitchen</div>
                        <div class="projects__projects_item-text">Decor / Architecture</div>
                    </div>
                    <img src="../static/final032/icon/next.svg">
                </div>
            </div>
        </div>
    </section>
</div>

<section class="counter">
    <div class="counter__block">
        <div class="counter__block_item">
            <div class="counter__block_item-title">12</div>
            <div class="counter__block_item-text">Years Of Experience</div>
        </div>
        <img src="../static/final032/image/Line.png">
        <div class="counter__block_item">
            <div class="counter__block_item-title">85</div>
            <div class="counter__block_item-text">Success Project</div>
        </div>
        <img src="../static/final032/image/Line.png">
        <div class="counter__block_item">
            <div class="counter__block_item-title">15</div>
            <div class="counter__block_item-text">Active Project</div>
        </div>
        <img src="../static/final032/image/Line.png">
        <div class="counter__block_item">
            <div class="counter__block_item-title">95</div>
            <div class="counter__block_item-text">Happy Customers</div>
        </div>
    </div>
</section>
<div class="container">
    <section class="news">
        <div class="projects__top">
            <div class="projects__top_title">Articles & News</div>
            <div class="projects__top_text">IIt is a long established fact that a reader will be distracted by the of
                readable content of a page when looking at its layouts the points of using.
            </div>
        </div>
        <div class="news__articles">
            <article class="news__articles_item">
                <img src="../static/final032/image/kitchenDesign.jpg" class="news__articles_img">
                <div class="news__articles_title">Let’s Get Solution For Building Construction Work</div>
                <div class="news__articles_bottom">
                    <div class="news__articles_text">26 December,2022 </div>
                    <img src="../static/final032/icon/next.svg" class="news__articles_svg alt="right">
                </div>
            </article>
            <article class="news__articles_item news__articles_dark-bg">
                <img src="../static/final032/image/livingDesign.jpg" class="news__articles_img">
                <div class="news__articles_title">Low Cost Latest Invented Interior Designing
                    Ideas.</div>
                <div class="news__articles_bottom">
                    <div class="news__articles_text">22 December,2022 </div>
                    <img src="../static/final032/icon/nextLight.svg" class="news__articles_svg" alt="right">
                </div>
            </article>
            <article class="news__articles_item">
                <img src="../static/final032/image/interiorDesign.jpg" class="news__articles_img">
                <div class="news__articles_title">Best For Any Office & Business Interior
                    Solution</div>
                <div class="news__articles_bottom">
                    <div class="news__articles_text">25 December,2022 </div>
                    <img src="../static/final032/icon/next.svg" class="news__articles_svg alt="right">
                </div>
            </article>
        </div>

    </section>
    <footer class="footer"></footer>

</div>


</body>
</html>