* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 25px 77px 25px 53px;
  color: #fff;
  background-color: #292F36;
  font-family: Jost, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.02em;
  text-align: center;
  position: relative;
  border: 1px solid #292F36;
  border-radius: 18px;
  transition: background-color 0.2s, color 0.2s;
}
.btn:after {
  content: url("../icon/rightOrange.png");
  position: absolute;
  top: 50%;
  right: 53px;
  transform: translateY(-50%);
}
.btn:hover {
  color: #292F36;
  background-color: #fff;
}
.btn__color {
  background-color: #CDA274;
  border-color: #CDA274;
}
.btn__color:after {
  content: url("../icon/rightBlack.png");
}
.btn__color:hover {
  color: #CDA274;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  align-items: center;
  height: 50px;
}
.menu__left {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.menu__right {
  display: flex;
  justify-content: space-between;
  width: 243px;
}
.menu__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #292F36;
  font-size: 40px;
  line-height: 50px;
}
.menu__title:hover {
  color: #CDA274;
}
.menu__item {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #4D5053;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  height: 100%;
}
.menu__item:hover {
  color: #CDA274;
}

.banner {
  margin-top: 57px;
  height: 758px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.banner__subcontent {
  position: absolute;
  padding-left: 72px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 506px;
}
.banner__subcontent_title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #292F36;
  padding-top: 8px;
  font-size: 65px;
  line-height: 81.25px;
}
.banner__subcontent_title_text {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #4D5053;
  font-size: 22px;
  line-height: 33px;
}

.banner-image {
  border: 1px solid transparent;
  border-radius: 70px;
  object-fit: fill;
}

.projects {
  margin-top: 96px;
}
.projects__top {
  width: 737px;
  height: 137px;
  margin: 0 auto;
}
.projects__top_title {
  padding: 8px 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #292F36;
  font-size: 50px;
  line-height: 62.5px;
  text-align: center;
}
.projects__top_text {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #4D5053;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}
.projects__projects {
  margin-top: 93px;
  display: grid;
  grid-template-columns: repeat(2, 525px);
  justify-content: space-between;
  gap: 56px;
}
.projects__projects_item {
  width: 572px;
}
.projects__projects_item-footer {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.projects__projects_item-info {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.projects__projects_item-title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #292F36;
  font-size: 25px;
  line-height: 31.25px;
}
.projects__projects_item-text {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #4D5053;
  font-size: 22px;
  line-height: 30px;
}
.projects__projects_lt {
  height: 548px;
  border: 1px solid transparent;
  border-radius: 0 70px 0 0;
  object-fit: fill;
}
.projects__projects_rt {
  height: 548px;
  border: 1px solid transparent;
  border-radius: 70px 0 0 0;
  object-fit: fill;
}
.projects__projects_lb {
  height: 548px;
  border: 1px solid transparent;
  border-radius: 0 0 70px 0;
  object-fit: fill;
}
.projects__projects_rb {
  height: 548px;
  border: 1px solid transparent;
  border-radius: 0 0 0 70px;
  object-fit: fill;
}

.counter {
  margin-top: 96px;
  width: 100wv;
  background-color: #F4F0EC;
  height: 457px;
  display: flex;
  align-items: center;
}
.counter__block {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.counter__block_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter__block_item-title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #292F36;
  padding: 16px 0 22px 0;
  font-size: 85px;
  line-height: 106.25px;
  color: #CDA274;
}
.counter__block_item-text {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #4D5053;
  font-size: 22px;
  line-height: 33px;
}

/*# sourceMappingURL=style.css.map */
