@import "vars";

@mixin title() {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: $colorSecondary;
}

@mixin text() {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: $colorNeutral
}

@mixin roundAll(){
  border: 1px solid transparent;
  border-radius: 60px;
  object-fit: cover;
}

@mixin roundLT(){
  border: 1px solid transparent;
  border-radius: 60px 0 0 0;
  object-fit: cover;
}

@mixin roundRT(){
  border: 1px solid transparent;
  border-radius:  0 60px  0 0;
  object-fit: cover;
}

@mixin roundRB(){
  border: 1px solid transparent;
  border-radius: 0 0 60px 0;
  object-fit: cover;
}

@mixin roundLB(){
  border: 1px solid transparent;
  border-radius: 0 0 0 60px;
  object-fit: cover;
}

